# PostgreSQL SAP Database Configuration
SAP_PG_HOST=72.60.218.167
SAP_PG_PORT=5432
SAP_PG_DB=modernsap
SAP_PG_USER=postgres
SAP_PG_PASS=mango

# MySQL Database Configuration (if needed)
DB_HOST=localhost
DB_NAME=u494785662_ergon_site
DB_USER=u494785662_ergon_site
DB_PASS=@Admin@2025@